@import './root.scss';

p {
    margin: 0;
    font-weight:var(--font-w-500);
    line-height: 1.5;
}

h1 {
    font-weight: var(--font-w-900);
    margin-bottom: var(--px-8);
    font-size: var(--px-32);
}

h2 {
    font-weight: var(--font-w-700);
    margin-bottom: var(--px-8);
    font-size: var(--px-32);
}

h3 {
    font-weight: var(--font-w-400);
}

a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-black);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.active {
    font-weight: var(--font-w-700);
    opacity: 1;
}

a h3:hover {
    -moz-transition: all var(--input-sec); 
    -webkit-transition: all var(--input-sec);  
    -ms-transition: all var(--input-sec);  
    -o-transition: all var(--input-sec);  
    transition: all var(--input-sec); 
    opacity: 0.5;
}

img:not(.img__ads) {
    max-width: calc(var(--width-px) * 2);
}

.content_txt {
    color: var(--color-white);
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: var(--font-style);
}

#app {
    position: relative;
    margin: auto;
    max-width: calc(var( --width-px) * 14);
    display: flex;
    justify-content: space-around;
}

header {
    height: 33px;
}

.width { 
    margin: auto;
    max-width: calc(var( --width-px) * 8.2);
}

.block-content__left {
    overflow: hidden;
    max-width: calc(var(--width-px) * 2.2);
    margin-right: calc(var( --width-px) * 2.2);
}

.block-content__right {
    max-width: calc(var( --width-px) * 8);
    padding-right: 18%;
}

.block-content__scroll {
    overflow: auto;
    max-height: calc(var(--width-vh) - 10vh);
    min-width: calc(var( --width-px) * 2.2);
    position: fixed;
}

.block-content__logo {
    width: calc(var( --width-px) * 1.5);
    margin-bottom: var(--px-24);
}

.block-content__burger-menu {
    display: none;
}

.info-block__content {
    padding: 2%;
    font-size: var(--px-24);
}

p.indent {
    line-height: 1.5;
    font-weight: var(--font-w-400);
    font-size: var(--px-18);
}

.check-block__background {
    position: sticky;
    transform: translateY(calc(var(--width-px) * (-7.5)));
    transition: var(--input-sec);
}

.check-block__background.activ {
    transform: translateY(0);
    transition: var(--input-sec);
}

[class^="check-block__background shift"] {
    margin-left: calc(var(--width-px) * 8); 
}

[class^="check-block__background up"] {
    margin-left: 0; 
}

.check-block__background.shift.activ {
    transform: translateY(-10%);
}

.check-block__background.shift.scroll.anim.up {
    transform: translateY(calc(var(--width-px) * (-2)));
    transition: var(--input-sec);
}

.check-block__background.shift.scroll {
    position: fixed;
}

.check-block__background.shift.scroll.anim  {
    transform: translateY(0);
    transition: var(--input-sec);
    max-width: calc(var( --width-px) * 2);
}

.scroll .check-block__examination-info {
    padding: 0 var(--px-8);
}

.scroll .check-block__grade-text,
.scroll .check-block__grade-dynamic {
    font-size: 50px;
    font-weight: var(--font-w-700);
}

.scroll .check-block__examination-text {
    padding: 0 4% 8%;
}

.scroll .check-block__info {
    font-size: var(--px-16);
}

.content-block__container {
    background: var(--color-white);
    padding: 2%;
}

.content-block__switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width-percent);
    margin: var(--px-24) auto;
    margin-bottom: var(--px-8);
    font-size: var(--px-24);
}

div.adLock__check:not(.accordion,.check__activity) {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    border-radius: var(--input-border-rad);
    transition: var(--input-sec);
}

div.adLock__check:not(.accordion,.check__activity,.activ)::before {
    content: '' ;
    position: absolute ;
    width: calc(var(--width-px) / 20) ;
    height: calc(var(--width-px) / 20) ;
    border-radius: 50%;
    top: calc(var(--width-percent) / 9);
    background: var(--color-light-red) ;
    transition: var(--input-sec) ;
}

div.adLock__check.activ:not(.accordion,.check__activity)::after {
    content: '' ;
    position: absolute ;
    width: calc(var(--width-px) / 20) ;
    height: calc(var(--width-px) / 20) ;
    border-radius: 50%;
    top: calc(var(--width-percent) / 9);
    background: var(--color-light-green) ;
    transition: var(--input-sec) ;
}

div.adLock__check.check__activity {
    position: relative ;
    width: var(--input-medium) ;
    height: var(--input-medium) ;
    -webkit-appearance: none ;
    outline: none ;
    transition: var(--input-sec);
}

div.adLock__check.check__activity:not(.activ)::before {
    content: '' ;
    position: absolute ;
    background: url('./img/cross.svg') no-repeat center;
    background-size: var(--input-medium) ;
    width: var(--input-medium) ;
    height: var(--input-medium) ;
    padding: auto ;
}

div.adLock__check.check__activity.activ::after {
    content: '' ;
    position: absolute ;
    background: url('./img/check-mark.svg') no-repeat center;
    background-size: var(--input-medium) ;
    width: var(--input-medium) ;
    height: var(--input-medium) ;
    padding: auto ;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
}

.label-check__activity {
    margin-left: 4%;
    font-weight: var(--font-w-500);
}

.label-check__activity > h3 {
    margin: var(--px-8) auto; 
}

.content-block__description {
    width: var(--width-percent);
    font-size: var(--px-24);
}

.content-block__examination-switch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-block__examination-switch > h3 {
    font-size: var(--px-21);
    margin-bottom: var(--px-16);
}

.analyst_type .content-block__examination-switch > h3 {
    margin: auto;
    margin-left: 0;
    margin-bottom: var(--px-8);
}

.content-block__switch > h2 {
    margin: auto 0;
}

.content-block__dynamic {
    padding: 1% 5%;
    margin-bottom: 0;
    border-radius: calc(var(--input-border-rad) - 20px);
    color: var(--color-white);
    font-size: var(--px-18);
    font-weight: var(--font-w-700);
}

.content-block__examination-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-block__examination-info>h3 {
    margin-right: 1%;
}

.content-block__examination-content-ads {
    padding: 2%;
    background: var(--color-light-gray);
    border-radius: calc(var(--input-border-rad) - 15px);
    margin-bottom: var(--px-16);
}

div.banner_dynamic>div {
    position: relative;
}

.check-block__container {
    bottom: 0;
    border-radius: calc(var(--input-border-rad) - 5px);
    box-shadow: var(--input-shadow__check-block);
}

.check-block__container {
    background: var(--color-white);
    padding: 4% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.check-block__info {
    font-weight: var(--font-w-700);
    font-size: var(--px-32);
    margin: 0;
}

.check-block__examination-info, 
.check-block__info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);   
}

.check-block__info-text > p {
    text-align: center;
}

.check-block__examination-text {
    padding: 1%;
    padding-top: 0;
}

.check-block__grade-text, 
.check-block__grade-dynamic {
    font-weight: var(--font-w-700);
    font-size: calc(var( --width-px) + 36px);
    margin: 0;
}

.content-block__examination.analyst_type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-block__examination.analyst_type > .content-block__examination-switch {
    width: 30%;
}

.content-block__verstecken {
    padding-left: 1%;
}

.content-block__examination.analyst_type > .content-block__verstecken {
    width: 70%;
}

.block-content__navigation-text {
    margin-bottom: var(--px-16);
}

.block-content__navigation-name {
    margin: var(--px-16) 0;
    font-size: var(--px-24);
}

.content-block__nav-activity {
    width: 95%;
}

.content-block__checkbox {
    display: flex;
    align-items: center;
    width: 20%;
}

.content-block__nav-check {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content-block__nav-activity h3 {
    margin: 6% 0;
}

.content-block__activity-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
}

.content-block__type.analyst_type {
    margin-top: var(--px-24);
}

.img__banner {
    width: 100%;
    height: 100%;
}

@media (max-width: 1820px) {
    .scroll .check-block__info-text > p {
        font-size: var(--px-16);
    }
}

@media (max-width: 1400px) {
    [class^="check-block__background shift"] {
        margin-left: calc(var(--width-px) * 4.8);
    }

    .block-content__scroll {
        padding: 0 var(--px-8);
    }

    .scroll {
        left: calc(var(--width-percent)  / 2.2);
    }
}

@media (max-width: 1360px) {
    #app {
        justify-content: space-between;
    }

    .block-content__scroll {
        padding: 0 calc(var(--width-px) - 90px);
    }

    [class^="check-block__background shift"] {
        margin-left: calc(var(--width-px) * 5);
    }
}

@media (max-width: 1286px) {
    .block-content__right {
        padding-right: 17%;
    }

    [class^="check-block__background shift"] {
        margin-left: calc(var(--width-px) * 4.8);
    }
}

@media (max-width: 1246px) {
    #app {
        margin: auto;
        max-width: calc(var(--width-px) * 12);
        display: block;
    }

    .block-content__left {
        margin: auto;
        max-width: calc(var(--width-px) * 8.2);
        padding: 1%;
    }

    .block-content__scroll {
        position: static;
        margin: auto;
        max-width: calc(var(--width-px) * 8.2);
    }

    .block-content__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: var(--width-percent);
        position: relative;
    }

    .block-content__logo {
        margin-bottom: 0;
    }

    .block-content__burger-menu {
        display: block;
        height: var(--px-24);
        width: var(--px-24);
        cursor: pointer;
    }

    .block-content__menu {
        position: absolute;
        right: 0;
        width: var(--px-24);
        height: var(--px-2);
        background-color: var(--color-black);
        border: none;
        cursor: pointer;
    }

    .block-content__menu:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: var(--px-24);
        height: var(--px-2);
        background-color: var(--color-black);
        margin-top: var(--px-16);
        transition: var(--buttom-transition);
    }

    .block-content__menu:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: var(--px-24);
        height: var(--px-2);
        background-color: var(--color-black);
        margin-top: var(--px-8);
        transition: var(--buttom-transition);
    }

    .block-content__menu-active {
        top: 30px;
        background: transparent;
    }

    .block-content__menu-active:before {
        transform: rotate(45deg);
        margin-top: 0;
    }

    .block-content__menu-active:after {
        transform: rotate(-45deg);
        margin-top: 0;
    }

    .block-content__navigation {
        display: none;
    }

    .block-content__navigation-activ {
        display: block;
        height: calc(var(--width-vh) - 20vh);
    }

    .block-content__navigation-text {
        margin-bottom: 0;
    }

    .content-block__nav-activity {
        margin-bottom: 0;
    }

    .content-block__nav-activity h3 {
        margin: 1% 0;
    }

    .block-content__right {
        margin: auto;
        padding: 1%;
    }

    .check-block__background {
        margin-bottom: var(--px-2);
    }

    .content-block__background:last-child {
        margin-bottom: 70px;
    }

    [class^="check-block__background shift"] {
        margin-left: 0;
    }

    .check-block__background.shift.anim.scroll.up {
        transform: translateY(calc(var(--width-px) * (2)));
        transition: var(--input-sec);
    }

    .check-block__background.shift.scroll.anim.down {
        transform: translateY(5%);
        transition: var(--input-sec);
    } 

    .check-block__background.shift.scroll {
        display: none;
    }

    .check-block__background.anim.scroll  {
        transform: translateY(0);
        transition: var(--input-sec);
        max-width: var(--width-percent);
    }

    .check-block__background.shift.scroll.anim {
        display: block;
        max-width: var(--width-percent);
    }

    .check-block__background.scroll.up {
        display: none;
    }

    .check-block__info-text > p {
        font-size: var(--px-24);
    }

    .scroll {
        width: calc(var(--width-percent) - 2.5%);
        bottom: 0;
        z-index: 1001;
        left: 1%;
    }

    .check-block__background.scroll  {
        transform: translateY(-150%);
    }

    .scroll .check-block__container {
        padding: 0;
    }
    
    .scroll .check-block__examination-info {
        padding: 0 var(--px-8);
    }
    
    .scroll .check-block__grade-text,
    .scroll .check-block__grade-dynamic {
        font-size: 50px;
        font-weight: var(--font-w-700);
    }
    
    .scroll .check-block__examination-text {
        display: none;
    }  
}

@media (max-width: 821px) {
    .checkbox {
        width: 60%;
    }

    .content-block__examination-content-ads {
        padding: 5%;
    }

    .block_dynamic > .top-banner {
        top: 30% !important;
    }
}

@media (max-width: 630px) {
    .check-block__grade-dynamic, 
    .check-block__grade-text {
        font-size: calc(var( --width-px));
    }

    .google-Ads ins,
    .google-Ads iframe {
        width: 90%;
    }

    .checkbox {
        width: 50%;
    }
}

@media (max-width: 530px) {
    .label-check__activity {
        margin-left: 10%;
    }
}

@media (max-width: 490px) {
    h1 {
        font-size: var(--px-24);
    }

    h2 {
        font-size: var(--px-24);
    }

    p.indent {
        font-size: var(--px-16);
    }
    
    .check-block__info-text > p {
        font-size: var(--px-16);
    }

    .content-block__switch {
        width: var(--width-percent);
    }

    .checkbox {
        width: 60%;
    }

    .content-block__examination-content-ads {
        padding: 10%;
    }

    .img__banner {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .main-screen__head {
        flex-direction: column;
    }

    .main-screen__text {
        width: 70%;
    }

    .checkbox {
        width: var(--width-percent);
    }
}

@media (max-width: 340px ) {
    .check-block__grade-dynamic, 
    .check-block__grade-text {
        font-size: var(--px-64);
    }

    .info-block__content, 
    .content-block__switch {
        font-size: var(--px-16);
    }

    .content-block__examination-switch > h3 {
        font-size: var(--px-24);
    }

    .indent {
        font-size: var(--px-16);
    }
}
